<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <span class="navbar-brand">Candidate App</span>
  </div>
  <ul class="nav navbar-nav" *ngIf="(app|async).user.loggedIn">
    <li class="">
      <a href="#" (click)="onAssessments($event)">Assessments</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a *ngIf="(app|async).user.loggedIn" href="#" (click)="onLogout($event)"><span class="glyphicon glyphicon-log-in"> Logout</span></a>
      <a *ngIf="!(app|async).user.loggedIn" href="#" (click)="onLogin($event)"><span class="glyphicon glyphicon-log-in"> Login</span></a>
    </li>
  </ul>
  </div>
</nav>
<div class="container-fluid" *ngIf="(app|async).user.loggedIn">
  <div class="col-md-12" *ngIf="!!(alertMessages|async).length">
    <div [ngClass]="{'alert-success': message.success, 'alert-danger': !message.success}" class="alert alert-success" *ngFor="let message of alertMessages|async">
      <a href="#" (click)="removeAlertMessage(message)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{message.success ? 'Success!' : 'Error!'}}</strong> {{message.message}}.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default" *ngIf="(assmts|async).length">
        <div class="panel-heading">Assessments</div>
        <ul class="list-group">
          <li *ngFor="let assmt of assmts|async" class="list-group-item">
            <a href="#" (click)="getQuestions($event, assmt)">{{assmt.name}}</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="col-md-9">
      <div class="panel panel-default" *ngIf="(questions|async).length">
        <div class="panel-heading">Questions</div>
        <div class="panel-body">
          <div class="form-group" *ngFor="let quest of questions|async">
            <label class="control-label">{{quest.question}}</label>
            <textarea class="form-control" (change)="quest.answer=$event.target.value" cols="30" rows="5"></textarea>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" type="button" (click)="submitAnswers()">Submit Answers</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>